.h1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh 0;
  margin: 20vh 20vw;
  background-color: violet;
}

p:hover{
  font-weight: 800;
  cursor: pointer;
}